main {
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Couleur de fond */
}
main h1 {
font-size: 26px;
font-weight:700
}
main h2{
    padding-top: 2rem;
    font-size: 16px;
}
.container {
    margin-bottom: 5rem;
    margin-top: 5rem;
    height: 20rem;
    width: 80%;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Utiliser Flexbox */
  }
  
  .left {
    width: 50%; /* Occuper la moitié gauche */
    padding-right: 20px; /* Ajouter un peu d'espace à droite */
  }
  
  .right {
    margin-left: 21.5rem;
    width: 50%;
    display: flex; /* Utiliser Flexbox */
    justify-content: flex-end; /* Aligner à droite */
    align-items: center; /* Centrer verticalement */
}
  
  /* Vos autres styles restent inchangés */

a {
    text-decoration: none;
   }
   
.button {
       width: 15rem; /* Exemple de largeur fixe */
       padding: 10px;
       background-color: #FCA311;
       color: white;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       display: inline-block; /* Pour que width fonctionne bien */
       text-align: center; /* Pour centrer le texte */
       margin-top: 5rem;
       margin-left: 1rem;
   }
   
.button:hover {
  background-color: #9a640d;
}   



.container-photo {
    transform: scale(0.5); /* Agrandit l'image de 10 % */    
    width: 700px;
    height: 700px;
    border-radius: 1rem;
    border: solid 2px #fca311;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}