

html, body {
    height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
  }
  
  main {
    flex: 1; /* Le contenu principal prend tout l'espace disponible */
  }
  
  footer {
    max-height: 4rem;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #969696;
    font-size: 14px;
    background-color: #f2f2f2;
  }
  h1, h2{
    font-size: 36px;
    padding-left: 1rem;
  }

  header {
    background-color: #fcfcfc; /* Couleur de fond */
    border-bottom: 1px solid #ccc; /* Bordure en bas */
}

.header-container {
    display: flex;
    align-items: center; /* Alignement vertical */  
}

.header-l {
    margin-left: 45rem;
    text-decoration: none;
    color: #333;
    margin: 0 10px; /* Espace entre les liens */
}
.header-d {
    text-decoration: none;
    color: #333;
    margin: 0 10px; /* Espace entre les liens */
}
.profile-container {
  display: flex;
  align-items: center;
  position: absolute; /* ou fixed */
  top: 1.5rem; /* Position en haut de la page */
  right: 1rem; /* Position à droite de la page */
}
.profile-photo {
  width: 40px; /* Taille de la photo de profil */
  height: 40px;
  border-radius: 50%; /* Pour la rendre ronde */
  margin-right: 10px;
}
header a.header-l:hover,
header a.header-d:hover {
    font-weight: bold;
    color: #FCA311;
    cursor: pointer;
}

header a.header-l,
header a.header-d {
    text-decoration: none; /* Pas de soulignement par défaut */
    transition: color 0.3s ease-in-out; /* Animation douce de la couleur */
}

